.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray 800;
    border: 2px solid;
    color: white;
    height: 100%;
}
.container{
    height: 50%;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    line-height: 100px;
}
.inputContainer{
    margin-top: 40px;
    border: 2px solid;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.inputs{
    
    margin: 20px;
    height: 40px;
}